<div class="nested-fields">
  <div class="form-group row">
    <div class="col-xs-7">
      <%= f.text_field :answer_text, placeholder: 'Answer here...', class: 'form-control' %>

      <%= f.check_box :_destroy, class: 'remove_record' %>
      <%= f.label 'Delete'%>
    </div>
  </div>
</div>
